<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-left">
  <a class="navbar-brand" href="/">kdmsnr.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="navbarNav">
    {% include toc.html html=content h_max=2 
    class='navbar-nav.mr-auto' item_class='nav-item' anchor_class='nav-link' %}
  </div>
</nav>
