<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1222381848011436"
     crossorigin="anonymous"></script>
<!-- 広告 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1222381848011436"
     data-ad-slot="3673711385"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div class="card">
  <div class="card-body">
    <h3>角 征典（かど まさのり）@kdmsnr</h3>
    <p>
      <img src="/images/kdmsnr-avator.jpg" />
      <img src="/images/kdmsnr.jpg" />
      <a href="/images/kdmsnr-profile.jpg"><img src="/images/kdmsnr-profile-thumbnail.jpg" /></a>
    </p>
    <p><a href="http://www.waicrew.com">ワイクル株式会社</a> 代表取締役、東京工業大学 環境・社会理工学院 <a href="http://t2r2.star.titech.ac.jp/cgi-bin/researcherinfo.cgi?q_researcher_content_number=CTT100692413">特任講師</a>。アジャイル開発やリーンスタートアップに関する書籍の翻訳を数多く担当し、それらの手法を企業に導入するコンサルティングに従事。主な訳書に『リーダブルコード』『Running Lean』『Team Geek』（オライリー・ジャパン）、『エクストリームプログラミング』『アジャイルレトロスペクティブズ』（オーム社）、『図解リーン・スタートアップ成長戦略』（日経BP社）、『Clean Coder』（KADOKAWA）など。大学では、起業家育成プログラムにおいて、「デザイン思考基礎」および企業と連携したPBL型講義「<a href="https://medium.com/titech-eng-and-design">エンジニアリングデザインプロジェクト</a>」を担当。共著書に『エンジニアのためのデザイン思考入門』（翔泳社）がある。</p><p>
      <a href="https://www.waicrew.com/form/">Mail</a> | 
      <a href="https://twitter.com/kdmsnr">Twitter</a> | 
      <a href="https://www.facebook.com/kdmsnr">Facebook</a> | 
      <a href="https://github.com/kdmsnr">Github</a>
    </p>
  </div>
</div>
